<!doctype html>
<html lang="en">
  <head>
    <title>Testimonial</title>
    <link rel="stylesheet" href="assets/css/index.css" />
    <link rel="stylesheet" href="assets/css/nav.css" />
    <link rel="stylesheet" href="assets/css/home.css" />
    <link rel="stylesheet" href="assets/css/testimonial.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <img src="assets/img/logo.png" style="height: 30px" />
        </li>
        <li>
          <a href="/" class="nav-link"> Home </a>
        </li>
        <li>
          <a href="/blog" class="nav-link"> Blog </a>
        </li>
        <li style="display: flex; justify-content: flex-end; width: 80%">
          <a href="/contact" class="btn-orange nav-link">Contact Me</a>
          <button onclick="hamburgerToggle()" class="hamburger-button">
            <i class="fa-solid fa-bars"></i>
          </button>
        </li>
      </ul>
    </nav>

    <div class="hamburger-container hide">
      <a href="/" class="hamburger-nav-link"> Home </a>
      <a href="/blog" class="hamburger-nav-link hamburger-active"> Blog </a>
      <a href="/contact" class="hamburger-nav-link"> Contact </a>
    </div>

    <div class="container">
      <h1>My Testimonials</h1>
      <div class="container-rating">
        <h2>Rating By Star</h2>
        <div class="rating">
          <button class="rating-btn" onclick="getAllTestimonials()">All</button>
          <button class="rating-btn" onclick="getTestimonialByStar(1)">1 <i class="fa-solid fa-star"></i></button>
          <button class="rating-btn" onclick="getTestimonialByStar(2)">2 <i class="fa-solid fa-star"></i></button>
          <button class="rating-btn" onclick="getTestimonialByStar(3)">3 <i class="fa-solid fa-star"></i></button>
          <button class="rating-btn" onclick="getTestimonialByStar(4)">4 <i class="fa-solid fa-star"></i></button>
          <button class="rating-btn" onclick="getTestimonialByStar(5)">5 <i class="fa-solid fa-star"></i></button>
        </div>
      </div>

      <section class="testimonials" id="testimonials">
      
      </section>
    </div>
    <script src="assets/js/testimonial.js"></script>
    <script src="assets/js/index.js"></script>
    <script src="assets/js/nav.js"></script>
  </body>
</html>
