<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Web</title>
    <link rel="stylesheet" href="assets/css/index.css" />
    <link rel="stylesheet" href="assets/css/nav.css" />
    <link rel="stylesheet" href="assets/css/home.css" />
</head>
<body>
    <nav>
      <ul>
        <li>
          <img src="assets/img/logo.png" style="height: 30px" />
        </li>
        <li>
          <a href="/" class="nav-link"> Home </a>
        </li>
        <li>
          <a href="/blog" class="nav-link"> Blog </a>
        </li>
        <li style="display: flex; justify-content: flex-end; width: 80%">
          <a href="/contact" class="btn-orange nav-link">Contact Me</a>
          <button onclick="hamburgerToggle()" class="hamburger-button"><i class="fa-solid fa-bars"></i></button>
        </li>
      </ul>
    </nav>

    <div id="hamburger-container" class="hamburger-container hide">
      <h1 class="hamburger-container-item hamburger-active">
        <a style="color: white" href="/"> Home </a>
      </h1>
      <h1 class="hamburger-container-item">
        <a style="color: black" href="/blog"> Blog </a>
      </h1>
      <h1 class="hamburger-container-item">
        <a style="color: black" href="/contact"> Contact Me </a>
      </h1>
    </div>

    <div class="container">
      <div class="card-container">
        <img src="assets/img/cat.jpg" class="card-img" />
        <p>
          Saya adalah seorang programmer. Dengan pengalaman lebih dari 5 tahun.
          Saya berfokus di fullstack web development.
        </p>
        <table border="1px" class="card-table">
          <tr>
            <th>Experience</th>
            <th>Year</th>
          </tr>
          <tr>
            <td>Develop Personal Website</td>
            <td>2024</td>
          </tr>
        </table>
      </div>

      <div class="info-container">
        <h1>What i do</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
          eaque, qui repellendus delectus dolorum possimus in, voluptatem,
          debitis labore eveniet sint provident id exercitationem. Unde adipisci
          repellendus provident voluptas ipsa?
        </p>

        <div class="info-stack-container">
          <div>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png"
              style="width: 50px"
            />
            <h1>JavaScript</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit
              quam quod deserunt nihil assumenda est natus sapiente cumque ad
              sed rerum nesciunt, omnis earum suscipit minus sint illum voluptas
              nostrum.
            </p>
          </div>
          <div>
            <img
              src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
              style="width: 50px"
            />
            <h1>Github</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit
              quam quod deserunt nihil assumenda est natus sapiente cumque ad
              sed rerum nesciunt, omnis earum suscipit minus sint illum voluptas
              nostrum.
            </p>
          </div>
          <div>
            <img
              src="https://smlvqzf0a1b66cku.public.blob.vercel-storage.com/images/Vercel%20Logo-IMoeV2W33gFclXzAfZxmAHqtjBuTzP.png"
              style="width: 50px"
            />
            <h1>Deployment</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit
              quam quod deserunt nihil assumenda est natus sapiente cumque ad
              sed rerum nesciunt, omnis earum suscipit minus sint illum voluptas
              nostrum.
            </p>
          </div>
        </div>

        <h1>Found me on</h1>
        <img
          src="https://i.pinimg.com/736x/b9/f2/a6/b9f2a640b168cdb9f865185facee4cd3.jpg"
          style="width: 50px"
        />
      </div>
    </div>

    <script src="assets/js/nav.js"></script>
</body>
</html>
