<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Web</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      .btn-custom { background-color: #FF4500; /* Orange Red */ color: white
      !important; }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/"><img src="assets/img/logo.png" style="height: 30px" /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
            <li class="nav-item"><a href="/contact" class="btn btn-custom nav-link">Contact Me</a></li>
            {{#if user}}
              <li class="nav-item"><span class="navbar-text">Welcome {{user.name}}</span></li>
              <li class="nav-item">
                <form action="/logout" method="post" class="d-inline">
                  <button type="submit" class="btn btn-link nav-link">Logout</button>
                </form>
              </li>
            {{else}}
              <li class="nav-item"><a href="/login" class="btn btn-custom nav-link">Login</a></li>
              <li class="nav-item"><a href="/register" class="btn btn-custom nav-link">Register</a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      {{#if messages.success.text}}
        <div class="alert alert-success" role="alert">
          {{messages.success.text}}
        </div>
      {{/if}}

      <div class="row">
        <div class="col-md-6">
          <div class="card mb-4">
            <img src="assets/img/cat.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-text">Saya adalah seorang programmer. Dengan
                pengalaman lebih dari 5 tahun. Saya berfokus di fullstack web
                development.</p>
              <table class="table">
                <thead>
                  <tr>
                    <th>Experience</th>
                    <th>Year</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Develop Personal Website</td>
                    <td>2024</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h1>What I Do</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perferendis eaque, qui repellendus delectus dolorum possimus in,
            voluptatem, debitis labore eveniet sint provident id exercitationem.
            Unde adipisci repellendus provident voluptas ipsa?</p>
          <div class="row">
            <div class="col-md-4 text-center">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png"
                style="width: 50px"
              />
              <h5>JavaScript</h5>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Impedit quam quod deserunt nihil assumenda est natus sapiente
                cumque ad sed rerum nesciunt, omnis earum suscipit minus sint
                illum voluptas nostrum.</p>
            </div>
            <div class="col-md-4 text-center">
              <img
                src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
                style="width: 50px"
              />
              <h5>Github</h5>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Impedit quam quod deserunt nihil assumenda est natus sapiente
                cumque ad sed rerum nesciunt, omnis earum suscipit minus sint
                illum voluptas nostrum.</p>
            </div>
            <div class="col-md-4 text-center">
              <img
                src="https://smlvqzf0a1b66cku.public.blob.vercel-storage.com/images/Vercel%20Logo-IMoeV2W33gFclXzAfZxmAHqtjBuTzP.png"
                style="width: 50px"
              />
              <h5>Deployment</h5>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Impedit quam quod deserunt nihil assumenda est natus sapiente
                cumque ad sed rerum nesciunt, omnis earum suscipit minus sint
                illum voluptas nostrum.</p>
            </div>
          </div>
          <h1>Find Me On</h1>
          <img
            src="https://i.pinimg.com/736x/b9/f2/a6/b9f2a640b168cdb9f865185facee4cd3.jpg"
            style="width: 50px"
          />
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    ></script>
  </body>
</html>